a {
	text-decoration: none;
	list-style: none;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	color: #ffffff;
}

li {
	list-style-type: none;
}

.title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	color: #d4c17f;
}

section {
	background-color: #242b33;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
	background-color: #242b33;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #242b33;
}

body::-webkit-scrollbar-thumb {
	background-color: #242b33;
	background-image: -webkit-linear-gradient(
		90deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 1) 25%,
		transparent 100%,
		rgba(0, 0, 0, 1) 75%,
		transparent
	);
}

/*header start*/

.header {
	background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/HeaderBackground.png);
}

.menu {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 50;
}

.nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	z-index: 7;
}

.menu__list{
	display: flex;
	position: relative;
	z-index: 4;
}

.menu__link{
	margin-left: 30px;
	color: #fff;font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
}

/*introduction start*/

.introduction{
	background: transparent;
}

.introduction__body{
	padding-top: 200px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.introduction__title{
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	margin-bottom: 100px;
}

.introduction__mouse{
	margin-bottom: 200px;
}
.introduction__contacts{
	display: flex;
}
.header__block:first-child:after {
	content: "Наб. реки Фонтанки 10-15";
	font-family: Raleway;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin-left: 18px;
	margin-right: 100px;
	line-height: 21px;
}

.header__block:last-child:after {
	content: "8 (812) 123-45-67";
	font-family: Raleway;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin-left: 18px;
	line-height: 21px;
}

/*introduction end*/


/*header end*/


/*section offer start*/

.offer__body{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 120px 0 120px 0;
	text-align: center;
}

.offer__item{
	margin-right: 70px;
}

.offer__item img{
	margin-bottom: 50px;
}
/*section offer end*/

/*section apartments start*/
.apartments__body{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.apartments__title{
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
}

.apartments__top,
.apartments__bottom{
	display: flex;
}

.apartments .apartments__picture{
	display: flex;
	padding: 50px;
	align-items: flex-end; 
	background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
	background-image: url(../img/Rectangle1.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 30px;	
	width: 535px;
    height: 300px;
}

/*section information-block start*/








/*section information-block end*/














/*section apartments end */











@media (max-width: 767px){
	body.lock{
		overflow: hidden;
	}

	.menu{
		padding-top: 10px;
	}
	.burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 8;
		transition: all 0.3s ease 0s; 
	}
	.burger:before,
	.burger:after{
		content: '';
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.3s ease 0s; 
	}

	.burger:before{
		top: 0;
	}

	.burger:after{
		bottom:0;
	}
	.burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}

	.burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.burger.active span{
		transform: scale(0);
	}

	.burger span{
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left:0;
		top: 9px;
	}
	
	.menu__list{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		padding: 100px;
		display: block;
		transition: all 0.3s ease 0s; 
	}
	
	.menu__list.active{
		top: 0;
	}

	.menu__link{
		margin: 0 0 0 0;
	}

	.menu__item{
		margin-bottom: 10px;
	}

	.offer__body{
		flex-direction: column;
	}

	.offer__item{
		margin: 0 0 15px 0;
	}

	.offer__item img{
		margin: 0 0 10px 0;
	}
}

@media (max-width: 832px){
	
	.introduction__body{
		padding-top: 50px;
		padding-bottom: 40px;
	}
	
	.introduction__title{
		font-size: 32px;
		margin-bottom: 30px;
	}

	.introduction__mouse{
		margin-bottom: 50px;
	}
	.header__block:first-child:after,
	.header__block:last-child:after {
		font-size: 10px;
		margin: 0 10px 0 0;
	}
	.header__block:first-child:after {
		margin-right: 30px;
	}

	.offer__body{
		padding: 60px 0 60px 0;
	}

	.apartments__title{
		font-size: 20px;
	}
	
	.apartments__body{
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.apartments__top,
	.apartments__bottom{
		flex-direction: column;
	}
	.apartments .apartments__picture{
		margin:0 0 10px 0;
		width: 300px;
    	height: 200px;
	}
}