a {
	text-decoration: none;
	list-style:none; 
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
}

p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	color: #ffffff;
}

li {
	list-style-type: none;
}

.title {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	color: #D4C17F;
}

section {
	background-color: #242B33;
}



body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #242B33;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #242B33;
}

body::-webkit-scrollbar-thumb
{
    background-color:#242B33;
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(0, 0, 0, 1) 0%,
                                              rgba(0, 0, 0, 1) 25%,
                                              transparent 100%,
                                              rgba(0, 0, 0, 1) 75%,
                                              transparent)
}

/*header start*/

.header {
	background:linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%); 
	width: 100%;
	height: 840px;
	background-size: 100% 840px;
	background-repeat: no-repeat;
	background-position: all;
	background-image: url(../img/HeaderBackground.png);
}

.header .header__logo {
	width: 134px;
	height: 66px;
}

.header .header__menu {
	display: flex;
	width: 100%;
	padding-top: 30px;
}

.header .header__menu .header__list {
	display: flex;
}

.header .header__menu .header__list .header__item {
	margin-right: 40px;
	margin-top: 25px;
}

.header .header__menu .header__list .header__item .header__link {
	white-space: nowrap;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.header .header__main {
	text-align: center;
	margin-top: 200px;
}

.header .header__main .header__title {
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 100px;
}

.header .header__end {
	display: flex;
	padding-top: 200px;
	width: 100%;
}

.header .header__end .header__block {
	width: 21px;
	height: 21px;
}

.header .header__end .header__block:first-child:after {
	content: "Наб. реки Фонтанки 10-15";
	font-family: Raleway;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin-left: 18px;
	line-height: 21px;
}

.header .header__end .header__block:last-child:after {
	content: "8 (812) 123-45-67";
	font-family: Raleway;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin-left: 18px;
	line-height: 21px;
}

.header .header__end .header__block .header__mark {
	margin-left: 65px;
}

.header .header__end .header__block .header__phone {
	margin-left: 30px;
}

/*header end*/

/*section offer start*/

.offer {
	position: relative;
	padding-bottom: 120px;
}

.II {
	position: absolute;
	background-image: url(../img/II.png);
	width: 200px;
    height: 300px;
    right: 90px;
    top: 160px;
    background-size: 200px 300px;
	background-repeat: no-repeat;
	background-position: all;
}

.offer .offer__main {
	display: flex;
	padding-top: 194px;
}

.offer .offer__main .offer__item {
	text-align: center;
}

.offer .offer__main .offer__item:first-child {
	margin-right: 153px;
}

.offer .offer__main .offer__item:nth-child(2) {
	margin-right: 130px;
}

.offer .offer__main .offer__item:nth-child(3) {
	margin-right: 124px;
}


.offer .offer__main .offer__item .offer__picture {
	display: flex;
	align-items: flex-end;
	margin-bottom: 53px;
	width: 80px;
	height: 80px;
	margin-left: 5px;
}

.offer .offer__main .offer__item:first-child  .offer__picture {
	margin-left: 23px;
}

/*section offer end*/

/*section apartments start*/

.apartments {
	padding-top: 120px;
	position: relative;
}

.III {
	background-image: url(../img/III.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: all;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 230px;
}

.apartments .apartments__title {
	font-size: 36px;
	line-height: 48px;
}

.apartments .apartments__top {
	display: flex;
	padding-top: 100px;
	padding-bottom: 30px;
}

.apartments .apartments__bottom {
	display: flex;
}

.apartments .apartments__picture {
	display: flex;
	padding: 50px;
	align-items: flex-end; 
	width: 535px;
	height: 320px;
}

.apartments .apartments__picture p {
	font-size: 24px;
	line-height: 28px;
}

.apartments .apartments__top .apartments__picture:first-child {
	background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
	background-image: url(../img/Rectangle1.png);
	background-position:all;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 30px;	
}

.apartments .apartments__top .apartments__picture:last-child {
	background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
	background-image: url(../img/Rectangle2.png);
	background-position:all;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 30px;
}

.apartments .apartments__bottom .apartments__picture:first-child {
	background: gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%);
	background-image: url(../img/Rectangle1.png);
	background-position:all;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 30px;
}

.apartments .apartments__bottom .apartments__picture:last-child {
	background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
	background-image: url(../img/Rectangle2.png);
	background-position:all;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 30px;
}

/*section apartments end*/

/*section information-block start*/

.information {
	background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),
	linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
	background-image: url(../img/MiniBackground.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: all;
	padding-top: 180px;
	padding-bottom: 180px;
}

.information .information__main {
	display: flex;
	justify-content: space-between;
}

.information .information__main .information__text .information__title {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 50px;
}

.information .information__main .information__text p {
	font-size: 16px;
	line-height: 24px;
}

.information .information__main .information__buttons {
	margin-top: 65px;
}

.information .information__main .information__buttons .information__top {
	width: 540px;
	display: flex;
	padding-bottom: 35px;
}

.link {
	display: block;
	text-align: center;
	padding-top: 12px;
	font-size: 14px;
	line-height: 27px;
	margin-right: 30px;
	color: #BEBEBE;
	width: 255px;
	height: 50px;
	background: #FFFFFF;
	opacity: 0.2;
}

.information .information__main .information__buttons .information__bottom {
	width: 540px;
	display: flex;
}

.information .information__main .information__buttons .information__bottom p {
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	width: 255px;
	margin-right: 30px;
	padding-top: 11px;
}

.information .information__main .information__buttons .information__bottom .information__link {
	background: #D4C17F;
	color: #ffffff;
	opacity: 1;
}

/*section information-block end*/

/*section video-block start*/
.video {
	padding-bottom: 180px;
	position: relative;
}

.IV {
	position: absolute;
	right: 35px;
  top: 120px;
	width: 300px;
	height: 300px;
	background-image: url(../img/IV.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right;
}

.video .video__main {
	background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
	background-image: url(../img/Video.png);
	width: 719px;
	height: 650px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: all;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*section video-block end*/

/*section map start*/

.map {
	position: relative;
	padding-bottom: 180px;
}

.V {
	position: absolute;
	background-image: url(../img/V.png);
	width: 220px;
    height: 250px;
    top: 100px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: all;
}

.map .map__title {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 100px;
}

.map .map__place {
	width: 1110px;
	height: 358px;
	background: #626262;
}

/*section map end*/

 /*section question start*/

.question {
	padding-bottom: 180px;
}

.question .question__main .question__title {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 50px;
}

.question .question__main .question__block {
	display: flex;
}

.question .question__main .question__block p {
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #E7E7E7;
	margin-top: 12px;
	margin-right: 35px;
}

.question .question__main .question__block .link:last-child {
	background: #D4C17F;
	color: #ffffff;
	opacity: 1;	
}
 /*section question end*/

/*footer start*/

.footer {
	 background: #2D343C;
}

.footer .footer__main {
	display: flex;
	padding-top: 60px;
	padding-bottom: 51px;
}

.footer .footer__main .footer__logo {
	width: 134px;
	height: 66px;
}

.footer .footer__main .footer__list .footer__item .footer__link {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 15px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.footer__social {
	display: flex;
	margin-top: 20px;
}

.footer__social .footer__link:first-child {
	margin-right: 20px;
}

.footer__social .footer__link:nth-child(2) {
	margin-right: 25.50px;
}

.footer__social .footer__link:nth-child(3) {
	margin-right: 24.50px;
}
/*footer end*/


